.resume-title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
  color:  #5f0769; 
  position: relative;
  padding-bottom: 10px;
}

.resume-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: linear-gradient(to right, #9333ea, #f43f5e, #f97316);
  margin: 10px auto 0;
  border-radius: 2px;
}

.summary-container {
  max-width: 1000px;
  margin: 30px auto;
  font-family: "Segoe UI", sans-serif;
  color: #0f172a;
}



/* ===== ResumeCard ===== */
.resume-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px 25px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.resume-card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #0f172a;
}

.resume-card p {
  font-size: 15px;
  margin: 6px 0;
  color: #334155;
}

/* ===== Summary Section ===== */
.summary-card {
  background: #f9fafb;
  border-left: 5px solid #9333ea; /* purple accent */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}

.summary-title {
      font-family: "Calibri", "Segoe UI", sans-serif;
   font-size: 20px;
  font-weight: 600;
  margin: 15px 0;
  color:  #4f46e5;
  border-bottom: 2px solid #f1f5f9;
  padding-bottom: 6px;
}

.summary-text {
  font-size: 15px;
  line-height: 1.6;
  color: #374151;
}

/* ===== Recommendation Section ===== */
.recommendation-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px 25px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.recommendation-card h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #0f172a;
}

.recommendation-card p {
  font-size: 15px;
  margin-bottom: 15px;
  color: #475569;
}

/* Skills Section */
.skills-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.skill-tag {
  background: #ef4444; /* red pill style */
  color: #ffffff;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
  transition: background 0.2s;
}

.skill-tag:hover {
  background: #dc2626;
}
